@tailwind base;
@tailwind components;
@tailwind utilities;

/* you can add custom styles below using @apply or plain CSS */

body {
  @apply m-0 flex items-center justify-center min-w-[320px] min-h-screen;
}
